.usa-hero {
  background: linear-gradient(to bottom, rgba(0,0,0,.7) 0%, rgba(0,0,0,.7) 100%), $color-base center/cover;
  @include media($nav-width) {
    background: linear-gradient(to bottom, rgba(0,0,0,.8) 0rem, rgba(0,0,0,.8) $header-height, rgba(0, 0, 0, 0.8) $header-height, transparent 25rem), radial-gradient(farthest-corner at 100% 100%, rgba(0,0,0,0) 0, rgba(0,0,0,0) 45%, rgba(0,0,0,0.6) 55%, rgba(0,0,0,.8) 100%), $color-base 0% 40%/170%;
    padding-top: 17rem;
  }

  color: $color-gray-lightest;
  height: 100%;

  h1 {
    margin-bottom: 20px !important;
    color: $color-primary-alt-light; //#FFD58D;
  }
  .usa-font-lead {
    margin-bottom: 5rem;
    @include font-smoothing;
    font-weight: 400;
    @include media($nav-width) {
      font-size: 2.5rem;
      margin-bottom: 7rem;
    }
  }
}
