
// Facilities

.grc-facilities-facility {
  margin-bottom: 20px;
  img {
    display: block;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
}

.grc-facilities-resources {
  margin-top: 40px;
}

.grc-facilities-resources-tech-specs {
  float: left;
  display: inline-block;
  margin-right: 20px;
}

.grc-facilities-resources section h1 {
  @include h3;
}

// Facility

.grc-facility-factsheet {
  display: block;
  float: left;
  text-align: center;
  margin-right: 20px;
  img {
    display: block;
  }
}
