.grc-list {
  margin-top: 3em;
  clear: both;
  h2 + & {
    margin-top: 1.5em;
  }
  .clearfix {
    visibility: hidden;
    height: 0;
  }
}

.grc-grid-view-links + h2 {
  margin-top: 15px;
}

.grc-grid-view-links .fa {
  margin-right: 3px;
}

.grc-grid-item {
  font-family: $font-serif;
  @include font-smoothing;
  position: relative;
  display: block;
  margin-bottom: 3% !important;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

// remove external link icon from grid items.
.grc-grid-item.usa-external_link::after {
  display: none;
}

.grc-grid-item-image {
  display: block;
  width: 100%;
  height: auto;
}

.grc-grid-item-label {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 10%;
  padding: 10px;
  color: #FFF;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  background-color: rgba($color-primary-darker,.75);
  .fa-file-pdf-o {
    font-size: 15px;
    margin-left: 5px;
  }
}

.grc-grid-item-overlay {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  opacity: 0;
  transition: .5s ease;
  background-color: $color-primary-darker;
}

.grc-grid-item:hover .grc-grid-item-overlay, .grc-grid-item:focus .grc-grid-item-overlay {
  @include media($medium-screen) {
    opacity: 1;
  }
}

.grc-grid-item-text {
  font-weight: $font-bold;
  color: white;
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  max-height: 100%;
  padding: 10px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.grc-left-toggle-link-active {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 2px solid black;
  font-weight: bold;
}

.grc-right-toggle-link-active {
  margin-left: 10px;
  padding-left: 10px;
  border-left: 2px solid black;
  font-weight: bold;
}

.grc-grid-link {
  i {
    margin-right: 5px;
  }
}

.grc-txt-grid-item {
  .site-subheading {
    color: $color-gray-lighter;
  }
  a {
    color: $color-primary-alt;
    &:hover,
    &:active,
    &:visited {
      color: $color-primary-alt-dark;
    }
    .fa-external-link {
      font-size: 13px;
    }
  }
}
