body.template-landing {
  
@import 'big-hero';

.usa-hero {
  @include media($nav-width) {
    height: 800px;
  }
  a {
    color: $color-gray-lighter;
    &:hover,
    &:active,
    &:visited {
      color: $color-gray-light;
    }
  }
}
  
.usa-layout-docs {
  @include media($nav-width) {
    margin-top: 0;
  }
}

}