.usa-layout-docs-sidenav:not(.usa-width-one-fourth) {
  margin-bottom: 1.5em;
}
.usa-layout-docs-sidenav-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.usa-sidenav-list > li {
  font-size: 1.7rem;
}

.usa-sidenav-list a {
  cursor: pointer;
}